

.container {
  --container-height:300px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:20px 0px 20px 0px;
  display: grid;
  width:100%;
  height:var(--container-height);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: rgba(0,0,0,0.3);
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas: 
    "image title"
    "image description" ;
  
  
}

.cardImg{
  height: var(--container-height);
  grid-area:image;
  object-fit: contain;
  border-radius: var(--border-radius);
  margin-right:5px;
  border-radius: 10px 0px 0px 10px ;
}

.title {
  font-size:24px;
  font-weight: bold;
  grid-area: title;
  margin-bottom:10px;
  padding:5px;
}

.description{
  grid-area: description;
  overflow: hidden;
  padding:5px;
  margin-bottom:20px;

}