.contactWrapper{
  width:75%;
}
.contactForm{
  width: 100%;
  textarea{
    display: block;
    box-sizing:border-box;
    border-radius: var(--border-radius);
    width:100%;
    border: none;
    background-color: var(--transparent-background);
    padding:20px;
    resize: none;
  }
}

.submitButton{
  border:none;
  background-color: var(--accent-color);
  text-decoration: none;
  padding:10px;
  border-radius:var(--border-radius-small);
  font-weight: bold;
  box-shadow: var(--box-shadow-small);
  margin:10px 0;
}

.contactsTable{
  width: 100%;
  td:nth-child(2){
    text-align: right;
  }
}